<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huwl.oracle.myweibo.wrapper.UserMapper" >
    <insert id="insert"  parameterType="com.huwl.oracle.myweibo.pojo.User"
            useGeneratedKeys="true" keyProperty="userId">
        insert into USERS values(
        #{userId},#{nickName},#{password},#{birthday}
        ,#{intro},#{sex},#{address},#{headImg})
    </insert>
    <select id="existNickname" resultType="int">
        select count(*) from USERS where NICK_NAME=#{nickname}
    </select>
    <select id="getUserByCondition"
            resultType="com.huwl.oracle.myweibo.pojo.User" parameterType="com.huwl.oracle.myweibo.pojo.User">
        select * from USERS
        where NICK_NAME=#{nickName} and PASSWORD=#{password}
    </select>
    <select id="searchIncidentalUserByStr" resultType="com.huwl.oracle.myweibo.pojo.User">
        select USER_ID,NICK_NAME,INTRO,HEAD_IMG from USERS
        where NICK_NAME LIKE CONCAT('%',#{searchStr},'%')
        limit 10
    </select>
    <select id="searchUserByStr" resultType="com.huwl.oracle.myweibo.pojo.User">
        select u.USER_ID,u.NICK_NAME,u.BIRTHDAY,u.INTRO,u.SEX,ADDRESS,u.HEAD_IMG,r.STAR_ID
        from USERS u
        left join USER_GROUP g on g.USER_ID=u.USER_ID
        left join RELATIONSHIP r on r.GROUP_ID =g.GROUP_ID
        where u.NICK_NAME LIKE CONCAT('%',#{param2},'%')
        limit #{param1.offsetInDB},#{param1.pageSize}
    </select>
    <select id="getSearchUserByStrCount" resultType="java.lang.Integer">
        select count(*) from USERS where NICK_NAME like CONCAT('%',#{pageNo},'%')
    </select>
</mapper>